@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainBg : #EDF9FE ;
  --mainColor : black ;
}
.mainColor {
  color: var(--mainColor) ;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;   }
::-webkit-scrollbar-track{
  background: white;  }
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #be00cf ;
}
::-webkit-scrollbar-thumb{
  background-color: #86198F ;
  transition: 0.3s;
  border-radius: 10px;
}
body {
  background-color: var(--mainBg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 0 auto;
}
@media (max-width : 768px) {
  .container {
    padding: 0 10px;
  }
}
